{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Expense{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" value="{{ request.form['amount'] }}" required>

    <label for="category">Category</label>
    <select name="category" id="category" required>
      {% for category in categories %}
        <option value="{{ category['id'] }}">{{ category['name'] }}</option>
      {% endfor %}
    </select>

    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>

    <input type="submit" value="Save">
  </form>
{% endblock %}
