{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Expenses{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('expense.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for expense in expenses %}
    <article class="expense">
      <header>
        <div>
          <h1>{{ expense['category'] }}</h1>
          <div class="about">Amount: ${{ expense['amount'] }} | Date: {{ expense['date'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == expense['user_id'] %}
          <a class="action" href="{{ url_for('expense.update', id=expense['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
