{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Expense{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="category">Category</label>
    <input name="category" id="category" value="{{ request.form['category'] or expense['category'] }}" required>

    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" step="0.01" value="{{ request.form['amount'] or expense['amount'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('expense.delete', id=expense['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
